# Unity 관련 불필요한 폴더
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
MemoryCaptures/

# Visual Studio/JetBrains 관련
.vscode/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.suo

# 유저 설정
UserSettings/

# OS 관련
.DS_Store
Thumbs.db

# 유닛 테스트 관련
*.testresult.xml
*.ncrunch*

# 기타
*.log
*.tmp

# 패키지 관리자 파일
Packages/packages-lock.json
